node_modules
dist
build
.turbo
.DS_Store
Thumbs.db

.env
.env.local
.env.*.local

client/node_modules
client/dist

server/node_modules
server/dist
server/prisma/dev.db
server/prisma/dev.db-journal

coverage
*.log
